.user-profile{
    box-sizing: border-box;
    padding: 20px;
    height: 150px;
    background-color: skyblue;
    display: flex;

    .user{
        height: 100%;
        width:70px;
        display: flex;
        flex-direction: column;
        text-align: center;
        img{
            background-color: white;
            border: solid 3px #6091d3;/*線*/
            border-radius: 10px;/*角の丸み*/
            
        }
    }
}

.clap-info{
    margin: 0 30px;
    display: flex;
    align-items: center;
    height: 70px;
}


